# Node modules
node_modules/

# Environment files
.env

# OS-specific files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Render deploy (optional)
render.yaml